---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Portfolio";
---

<Layout pageTitle={pageTitle}>
  <p>
    <a href="/portfolio/homebizzguide">homebizzguide</a><br />
    <a href="/portfolio/mansfield-golf-club">mansfield-golf-club</a><br />
    <a href="/portfolio/mansfield-producers-marketplace"
      >mansfield-producers-marketplace</a
    ><br />
    <a href="/portfolio/mansfield-producers">mansfield-producers</a><br />
    <a href="/portfolio/mansfield-shearing-shed">mansfield-shearing-shed</a><br
    />
    <a href="/portfolio/murphyfresh">murphyfresh</a><br />
    <a href="/portfolio/paps-lane-kitchens">paps-lane-kitchens</a><br />
    <a href="/portfolio/ringwood-golf-club">ringwood-golf-club</a><br />
    <a href="/portfolio/strathbogie-flavours">strathbogie-flavours</a><br />
    <a href="/portfolio/the-ranges">the-ranges</a>
  </p>
</Layout>
<style></style>
