---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Portfolio";
---

<Layout pageTitle={pageTitle}>
  <p>
    <a href="/portfolio/the-ranges">The Ranges</a>
  </p>
</Layout>
<style></style>
