---
const year = new Date().getFullYear();
---

<div class="container-fluid">
  <footer>
    &copy; Martin Slack 2024 - <span id="footer-year">{year}</span>
  </footer>
</div>
<style>
  .container-fluid {
    height: 70px;
    background-color: var(--pico-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
  }

  footer {
    color: #fff;
    /* Applies top and bottom paddings */
    padding: 3rem 0;
    /* Centers the text content */
    text-align: center;
    /* Makes the font smaller */
    font-size: 0.9rem;
  }
</style>
<script>
  document.getElementById("footer-year").innerText = new Date()
    .getFullYear()
    .toString();
</script>
