---
import logo from "../images/MS-Logo.png?url";
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
---

<div class="container-fluid">
  <Hamburger />
  <div class="logo">
    <a href="/">
      <img src={logo} alt="My Logo" />
    </a>
  </div>
  <Navigation />
</div>
